html, body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightgray;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

ul.principal {
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    padding: 10px;
    background: gray;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu {
    height: 32px;
}

.menu a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    margin: 0;
    padding: 0;
}
.social {
display: flex;
}

@media (max-width: 768px) {
    ul.principal{
        
        flex-wrap: wrap;
    }
}

@media (max-width: 340px) {
    ul.principal {
        flex-direction: column;
    }
    .social{
        display: flex;
        
    }
}
