@media screen {
	h1{
        border-bottom: 2px solid blue;
    }
    h2{
        border: 2px solid #AAA;
    }
    ul#datos{
        border-bottom: 4px dotted red;
        border-top: 4px dotted red;
    }
    ul#contenido{
        border: 2px dashed #0f0;
    }
}